body{
    background:#ececec;
}

header{
    padding:10px 0px;
    max-width: 1440px;
    margin:0 auto;
}

header h2{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

footer{
    padding:10px 0px;
    text-align: center;
}

footer h2{
    font-size: 15px;
    color: #000;
    font-weight: bold;
}
footer span{
    font-size:14px;
    font-weight:400;
}


.contentArea{
    width:100%;
    padding-bottom: 20px;
    max-width: 1440px;
    margin:0 auto;
}

.searchFilter{
    background: #fff;
    padding:10px;
    margin:0px 0px 10px 0px;
    border-radius:5px;
}
.sideHeading{
    font-size:18px;
    color:#000;
    font-weight:bold;
}
.subtitle{
    width:100%;
    text-align:center;
}
.subtitle h3{
    text-align: center;
    font-size: 14px;
    border-bottom: #cdcccc solid 2px;
    display: inline-block;
    padding: 5px 13px;
}

.yearList{
    width: 100%;
    text-align: left;
}
.yearList a{
    background: #c4e09d;
    color: #000;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    width:40%;
    margin: 10px 10px;
    text-align:center
}
.yearList a.active, .yearList a:hover{
    background:#7cb803;
}


@media only screen and (min-device-width : 640px) and (max-device-width : 768px)  {
    .yearList a{
        margin: 10px 3px;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 640px)  {
    .yearList a{
        margin: 10px 5px;
    }
}


.userList{
    background:#fff;
    padding:10px;
    margin:0px 0px 10px 0px;
    border-radius:4px;
}

.missionImg{
   width:100%;
   min-height: 150px;
   background:#f2f2f2;
}

.missionName{
    font-size: 16px;
    color: #1a278c;
    font-weight: bold;
    padding: 10px 0px;
    max-height:70px;
}

.missionID p{
   margin:0;
   padding:0px;
   font-size:16px;
}
.missionID ul{
    margin:0;
    padding:0;
}
.missionID li{
    color: #403f3f;
    font-size: 14px;
    margin-left: 30px;
}

.missionInfo p{
   margin:5px 0px;
   padding:0px;
}